*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: gray
}
.container{
    margin: 0 auto;
    padding: 10px;

    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: silver;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
}

.btn{
    cursor: pointer;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    margin: 0 0 15px 0px;
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(210, 203, 255);
}

img{
    width: auto;
    height: 80px;
}
.img-div{
    display: flex;
    border-radius: 100px;
    overflow: hidden;
}

li{
    background-color: silver;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.user-info-div{
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
p{
    font-weight: bold;
}